body {
    background-color: #202020 !important;
}

.x-icon-navbar{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.x-hero-avatar {
    width: 400;
    height: 400;
}

#hero-section {
    padding-top: 11rem;
    padding-bottom: 7rem;
    object-fit: cover;
}